<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <title>Report tool</title>
    </head>
    <body>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-4">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/plain/report" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Report list
                </a>
                <a href="/plain/about" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    About
                </a>
            </div>
        </div>
    </nav>
    </body>
</html>